<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSearch_showpage</title>
</head>

<body>

<table border="2">
    <thead>
    <tr>
        <td>id</td>
        <td>title</td>
        <td>content</td>
        <td>href</td>
    </tr>
    <tr th:each="Mayday:${contents}">
        <td th:text="${Mayday.id}"></td>
        <td th:text="${Mayday.title}"></td>
        <td th:text="${Mayday.content}"></td>
        <td><a th:href="${'http://' + Mayday.href}">详情</a></td>
    </tr>
    </thead>
</table>



</body>
</html>
