<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />

    <title>El Palau de la Música</title>

    <link rel="stylesheet" href="style.css" /> </head>
<style>

    body {

        position:fixed;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        min-width: 1000px;
        z-index:-10;
        zoom: 1;
        background-color: #fff;
        background-image: url(/imag/1.jpg);
        background-size: 100%;

    }

</style>



<body>

<div class="demo"></div>

<p>I love the <span lang="es">Palau de la  Música</span>.
    It is ornate and gaudy  and everything that was wonderful  about modernism. It's also the home ➝of the
    <span lang="es">Orfeó Català  </span>, where I learned the benefits  of Moscatell.</p>

</body>


</html>